#navbar {
    background-color: orangered;
}

#navtitle {
    color: white;
    font-size: 20pt;
    padding-right: 20pt
}

#navtext {
    color: white;
}

#header {
    width: 90%;
    margin: 50pt;
    margin-bottom: 5pt;
    padding: 10pt;
    padding-left: 20pt;
    background-color: orangered;
    color: white;
    border-radius: 5pt;
}

#headertext {
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 16pt;
}

#sublist {
    margin-left: 50pt;
}

#subitem {
    text-decoration: none;
    color: black;
    font-size: 14pt;
}